.button {
  position: relative;
  overflow: hidden;
}

.label {
  position: relative;
  z-index: 1;
}

.progress {
  position: absolute;
  bottom: -1px;
  left: -1px;
  right: -1px;
  height: 6px;
  background-color: transparent;
}
